#one{
    background-color: blueviolet;
}
.two{
    background-color: aqua;

}
a[href ='http://google.com']{
    background-color: gold;
}
a[ href="http://facebook.com"]{
    background-color: darksalmon;
}
div p{
    background-color: hotpink;
}
div{
    background-color: brown;
    height: 150; 
}
#parent{
    height:88vh;
    width: 100;
    background-color: cornflowerblue;
    }
    #child{
    height: 50;
    width:50;
    background-color:rgb(169, 41, 41);
    }
    li{
    font-size: 2rem;
    }

